<%= form_for @task, url: task_path, html: {method: :post} do |f| %>
<h1>タスク　作成</h1>
<p>タイトル : <%= f.text_field :title %></p>
<p>内容 : <%= f.text_field :content %></p>
<input type="submit" value="送信">
<p><%= link_to "一覧画面へ", tasks_path %> </p>
<% end %>